@keyframes textAnimation 
{
    from { opacity: 0; transform: translateX(100%); }  
    to { opacity: 1; transform: translateX(0px); }  
}
@keyframes textAnimate 
{
    from { opacity: 0; transform: translateX(-100%); }  
    to { opacity: 1; transform: translateX(0px); }  
}
*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    background: linear-gradient(to right, #069306, #d6f0a2);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: green;
}
.webName{
    display: flex;
    font-size: 35px;
    align-items: center;
    font-weight: bolder;
}
.webName:hover{
    cursor: pointer;
    font-size: 102%;
}
.sections{
    display: flex;
    column-gap: 100px;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    height: 50px;
}
.sell{
    background: linear-gradient(to right, #073707, #a4f32a);
    border-radius: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.sell:hover,.home:hover,.categories:hover,.login:hover{
    font-size: 105%;
    cursor: pointer;
}
.home:hover,.categories:hover,.login:hover{
    background-color: #086c08;
    padding: 10px;
    border-radius: 10px;
}
.banner{
    display: flex;
    justify-content: center;
}
.text{
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 5px;
    background: linear-gradient(to right, #069306, #d6f0a2);
    padding-top: 10px;
    border-bottom-width: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 100px;
    font-weight: bolder;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: groove;
    border-color: darkgreen;
    animation: textAnimation 2s ease-in-out forwards;
}
.img{
    margin-top: 5px;
    background: linear-gradient(to right, #069306, #d6f0a2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: groove;
    border-color: darkgreen;
    animation: textAnimate 2s ease-in-out forwards;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
#things{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border-block-color: green;
}
.button{
    width: 100px;
    padding: 10px;
    border-block-color: green;
    background-color: forestgreen;
    border-radius: 10px;
}
.home a,.categories a,.login a{
    color: white;
    text-decoration: none;
}
.form{
    display: flex;
    justify-content: center;
}
.items{
    display: flex;
    justify-content: space-around;
}

  
