@keyframes textAnimation 
{
    from { opacity: 0; transform: translateX(100%); }  
    to { opacity: 1; transform: translateX(0px); }  
}
@keyframes textAnimate 
{
    from { opacity: 0; transform: translateX(-100%); }  
    to { opacity: 1; transform: translateX(0px); }  
}
*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    background: linear-gradient(to right, #069306, #d6f0a2);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: green;
}
.webName{
    display: flex;
    font-size: 35px;
    align-items: center;
    font-weight: bolder;
}
.webName:hover{
    cursor: pointer;
    font-size: 105%;
}
.sections{
    display: flex;
    column-gap: 100px;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    height: 50px;
}
.sell{
    background: linear-gradient(to right, #073707, #a4f32a);
    border-radius: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.sell:hover,.home:hover,.categories:hover,.login:hover{
    font-size: 105%;
    cursor: pointer;
}
.home:hover,.categories:hover,.login:hover{
    background-color: #086c08;
    padding: 10px;
    border-radius: 10px;
}
.banner{
    display: flex;
    justify-content: center;
}
.text{
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 5px;
    background: linear-gradient(to right, #069306, #d6f0a2);
    padding-top: 10px;
    border-bottom-width: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 100px;
    font-weight: bolder;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: groove;
    border-color: darkgreen;
    animation: textAnimation 2s ease-in-out forwards;
}
.img{
    margin-top: 5px;
    background: linear-gradient(to right, #069306, #d6f0a2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: groove;
    border-color: darkgreen;
    animation: textAnimate 2s ease-in-out forwards;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#things{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border-block-color: green;
}
.button{
    width: 100px;
    padding: 10px;
    border-block-color: green;
    background-color: forestgreen;
    border-radius: 10px;
}
.home a,.categories a,.login a{
    color: white;
    text-decoration: none;
}
.form{
    display: flex;
    justify-content: center;
}
.items{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.slideshow{
    height: 350px;
    width: 350px;
    position:relative;
    overflow: hidden;
    border: groove 2px darkgreen;
    border-radius: 20px;
    box-shadow: 0 0 10px darkgreen;
}
.slideshowImage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0;
    animation-iteration-count: infinite;
}
.pic1,.pic4,.pic7{
    animation-name: fade1;
    animation-duration: 4s;
}
.pic2,.pic5,.pic8{
    animation-name: fade2;
    animation-duration: 4s;
}
.pic3,.pic6,.pic9{
    animation-name: fade3;
    animation-duration: 4s;
}
@keyframes fade1 {
    0%,33.33% {opacity: 1;}
    33.34%,100% {opacity: 0;}
}
@keyframes fade2 {
    0%,33.33% {opacity: 0;}
    33.34%,66.66% {opacity: 1;}
    66.67%,100% {opacity: 0;}
} 
@keyframes fade3 {
    0%,33.33% {opacity: 0;}
    33.34%,66.66% {opacity: 0;}
    66.67%,100% {opacity: 1;}
} 
